# Ignore all files by default
*

# Allow these specific directories and files to be included
!/.gitignore
!/project.godot
!/default_env.tres
!/icon.png

# Allow specific directories and their contents
/scenes/*
!/scenes
!/scenes/inv_ui_slot.tscn
!/scenes/inventory_ui.tscn
!/scenes/mandrake_root.tscn

!/scripts/
!/resources/
!/inventory/

# Ignore specific file types globally
*.tmp
*.import

# Ignore specific directories globally
/.import/
.cache/
